
<h1> My name is <%= @name_sample %></h1>
<div style='border: 3px dashed red'>
<img src='https://ichef.bbci.co.uk/live-experience/cps/624/cpsprodpb/vivo/live/images/2021/2/15/b5cd1217-9657-4ce5-b8ab-96f389a2fcc1.png'>
</div>